name: Build and Test

on: [push]

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.7
    - uses: actions/setup-python@v5.1.1
      with:
        python-version: '3.14'
          # cache: 'pipenv' # caching pipenv dependencies
    - name: Install package managers
      run: |
        pip install pipx && pip install uv && pipx install uv && uv sync
    - name: Run Makefile
      run: make check
